@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    font-family: 'Balsamig Sans', cursive;
}

body {
    background-color: #FFB6C1;
}

h1 {
    color: #9370DB;
    text-align: center;
    font-size: 80px;

}

img {
    width: 350px;
    background-color: #DB7093;
    margin: 10px 10px 10px 10px;
}

#container {
    width: 1500px;
    background-color: #DDA0DD;
    padding: 20px;
    margin-bottom: 20px;
}

.row1 {
    background-color: #9370DB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
}

.row2 {
    background-color: #9370DB;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 20px;
}

.row3{
    display: flex;
    background-color: #9370DB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 40px;
}